<mat-card>
  <div class="table-boarder">
    <mat-card-content class="m-2">
      <div>
        <form [formGroup]="dateForm" autocomplete="off">
          <div class="d-flex justify-content-between">

            <div class="row">

              <mat-form-field class="col-4">
                <mat-label> {{ 'COMMON.CHOOSEDATE' | translate }} </mat-label>
                <mat-date-range-input [rangePicker]="picker">
                  <input matInput matStartDate placeholder="{{ 'COMMON.STARTDATE' | translate }}" formControlName="fromDate">
                  <input matInput matEndDate placeholder="{{ 'COMMON.ENDDATE' | translate }}" formControlName="toDate">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
              </mat-form-field>

                <mat-form-field class="col-4">
                  <mat-label>{{ 'stockissues.issueNo' | translate }}</mat-label>
                  <input matInput formControlName="issueNo"
                    appFocusOnEnter tabIndex="3" />
                </mat-form-field>

              <div class="p-2 pl-3 d-flex">
                <button mat-raised-button class="button-color-bule text-white m-2" (click)="search()">
                  <mat-icon>search</mat-icon>
                  {{ "COMMON.SEARCH" | translate }}
                </button>
                <button mat-raised-button class="button-color-red text-white m-2" (click)="reset()">
                  <mat-icon>clear</mat-icon>
                  {{ "COMMON.RESET" | translate }}
                </button>
              </div>
            </div>
            <div>
              <button mat-raised-button class="button-color-bule text-white m-2"
                [routerLink]="['CreateStockissues']">Create New StockIssue</button>
            </div>
          </div>
        </form>

        <div class="table">
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100">
            <!--<ng-container matColumnDef="slNo">
                <th mat-header-cell *matHeaderCellDef> Sl No </th>
                <td mat-cell *matCellDef="let element;"> {{dataSource.filteredData.indexOf(element) + 1}} </td>
              </ng-container>-->



            <ng-container matColumnDef="fromBranchCode">
              <th mat-header-cell *matHeaderCellDef> {{ 'stockissues.fromBranchCode' | translate }} </th>
              <td mat-cell *matCellDef="let element;"> {{element.fromBranchCode}} </td>
            </ng-container>

            <ng-container matColumnDef="fromBranchName">
              <th mat-header-cell *matHeaderCellDef> {{ 'stockissues.fromBranchName' | translate }} </th>
              <td mat-cell *matCellDef="let element;"> {{element.fromBranchName}} </td>
            </ng-container>

            <ng-container matColumnDef="toBranchCode">
              <th mat-header-cell *matHeaderCellDef> {{ 'stockissues.toBranchCode' | translate }} </th>
              <td mat-cell *matCellDef="let element;"> {{element.toBranchCode}} </td>
            </ng-container>

            <ng-container matColumnDef="toBranchName">
              <th mat-header-cell *matHeaderCellDef> {{ 'stockissues.toBranchName' | translate }} </th>
              <td mat-cell *matCellDef="let element;"> {{element.toBranchName}} </td>
            </ng-container>

            <ng-container matColumnDef="issueNo">
              <th mat-header-cell *matHeaderCellDef> {{ 'stockissues.issueNo' | translate }} </th>
              <td mat-cell *matCellDef="let element;"> {{element.issueNo}} </td>
            </ng-container>

            <ng-container matColumnDef="issueDate">
              <th mat-header-cell *matHeaderCellDef> {{ 'stockissues.issueDate' | translate }} </th>
              <td mat-cell *matCellDef="let element;"> {{element.issueDate| date:'dd/MM/yyyy hh:mm:ss'}} </td>
            </ng-container>

            <ng-container matColumnDef="userId">
              <th mat-header-cell *matHeaderCellDef> {{ 'stockissues.userId' | translate }} </th>
              <td mat-cell *matCellDef="let element;"> {{element.userId}} </td>
            </ng-container>

            <ng-container matColumnDef="shiftId">
              <th mat-header-cell *matHeaderCellDef> {{ 'stockissues.shiftId' | translate }} </th>
              <td mat-cell *matCellDef="let element;"> {{element.shiftId}} </td>
            </ng-container>







            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns" (dblclick)="openStockissues(row)"></tr>
          </table>


        </div>
        @if (!dataSource) {
        <div class="d-flex justify-content-center p-2">
          <strong> No records found </strong>
        </div>
        }

        <mat-paginator [pageSizeOptions]="[8, 10, 20]" showFirstLastButtons></mat-paginator>

      </div>

    </mat-card-content>
  </div>
</mat-card>