<div class="position-relative popup-class">

  <mat-card-content class="pt-5 p-2 m-0 overflow-auto ">
    <form [formGroup]="modelFormData" autocomplete="off">
      <div class="row">

        <mat-form-field class="col-2">
            <mat-label>{{ 'shareTransfer.shareTransferCode' | translate }}</mat-label>
          <input matInput  formControlName="shareTransferCode" appFocusOnEnter tabIndex="1">
        </mat-form-field>
        <mat-form-field class="col-2">
          <mat-label>{{ 'shareTransfer.transferDate' | translate }}</mat-label>
          <input matInput [matDatepicker]="picker1" formControlName="transferDate">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="col-2">
          <mat-label>{{ 'shareTransfer.fromMemberCode' | translate }}</mat-label>
          <mat-select formControlName="fromMemberCode" appFocusOnEnter tabIndex="3" (selectionChange)="setMemberCode();"
            (selectionChange)="getNoOfShares()">
            @for (shareMember of getShareMembersListArray; track shareMember) {
            <mat-option [value]="shareMember.id">
              {{ shareMember.id }} - {{shareMember.text}}
            </mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col-2">
            <mat-label>{{ 'shareTransfer.toMemberCode' | translate }}</mat-label>
          <input matInput type="number" formControlName="toMemberCode" appFocusOnEnter tabIndex="2">
        </mat-form-field>
        <mat-form-field class="col-2">
          <mat-label>{{ 'shareTransfer.toMemberName' | translate }}</mat-label>
          <input matInput type="number" formControlName="toMemberName" appFocusOnEnter tabIndex="3">
        </mat-form-field>
        <mat-form-field class="col-2">
          <mat-label>{{ 'shareTransfer.fromMemberSharesBefore' | translate }}</mat-label>
          <input matInput type="number" formControlName="fromMemberSharesBefore" appFocusOnEnter tabIndex="4">
        </mat-form-field>
        <mat-form-field class="col-2">
          <mat-label>{{ 'shareTransfer.fromMemberSharesAfter' | translate }}</mat-label>
          <input matInput type="number" formControlName="fromMemberSharesAfter" appFocusOnEnter tabIndex="5">
        </mat-form-field>
        <mat-form-field class="col-2">
          <mat-label>{{ 'shareTransfer.toMemberSharesBefore' | translate }}</mat-label>
          <input matInput type="number" formControlName="toMemberSharesBefore" appFocusOnEnter tabIndex="4">
        </mat-form-field>
        <mat-form-field class="col-2">
          <mat-label>{{ 'shareTransfer.toMemberSharesAfter' | translate }}</mat-label>
          <input matInput type="number" formControlName="toMemberSharesAfter" appFocusOnEnter tabIndex="5">
        </mat-form-field>
        <!-- <mat-form-field class="col-2">
                        <input matInput placeholder="{{'vehicle.vehicleModel' | translate }}" formControlName="vehicleModel"
                          appFocusOnEnter tabIndex="6">
                        </mat-form-field> -->
        <!-- <mat-form-field>
                        <mat-label [translate]="'vehicle.vehicleTypeName'"></mat-label>
                        <select matNativeControl placeholder="{{'vehicle.vehicleTypeName' | translate }}"
                          formControlName="vehicleTypeName">
                          <option *ngFor="let vehicleType of vehicleTypes" [value]="vehicleType.text">
                          {{vehicleType.text}}</option>
                        </select>
                      </mat-form-field> -->

      </div>
      <mat-divider></mat-divider>
    </form>
  </mat-card-content>

  <div class="col-12 p-2 d-flex justify-content-end">
    <button mat-raised-button class="button-color-red text-white mr-1" (click)="reset()">

      {{ 'COMMON.RESET' | translate }}
    </button>
    <button mat-raised-button type="submit" class="button-color-bule text-white ml-1" (click)="save()" appFocusOnEnter
      tabIndex="25">
      {{ modelFormData.value.shareId ? ('COMMON.UPDATE' | translate) : ('COMMON.SAVE' | translate) }}
    </button>
  </div>

</div>

<app-table [tableData]="shareTableData" (addOrUpdateEvent)="addOrUpdateEvent($event)" [isSharetransfer]="true">
</app-table>