@if (isMemberForm) {
<mat-card>
  <mat-card-content class="pt-1 p-2 m-0 overflow-auto ">
    <mat-tab-group>
      <mat-tab label="{{ 'membermaster.title' | translate }}">
        <form [formGroup]="modelFormData" autocomplete="off">
          <div class="row">
            <mat-form-field class="col-2" [ngClass]="{ 'ng--valid': formControls.memberCode.valid }">
              <mat-label [translate]="'membermaster.memberCode'"></mat-label>
              <input matInput formControlName="memberCode" appFocusOnEnter>
              @if (formControls.memberCode.errors) {
              <mat-error class="help-block">
                @if (formControls.memberCode.errors.required) {
                <div>Code is required </div>
                }
              </mat-error>
              }
            </mat-form-field>
            <mat-form-field class="col-2">
              <mat-label [translate]="'membermaster.nameTitle'"></mat-label>
              <select matNativeControl id="title" placeholder="{{'membermaster.nameTitle' | translate }}"
                formControlName="title">
                <option value="" disabled selected></option>
                @for (titleName of tileNameList; track titleName) {
                <option [value]="titleName.id">{{titleName.text}}</option>
                }
              </select>
            </mat-form-field>
            <mat-form-field class="col-2">
              <mat-label [translate]="'membermaster.memberName'"></mat-label>
              <input matInput formControlName="memberName" appFocusOnEnter>
            </mat-form-field>
            <mat-form-field class="col-2">
              <mat-label [translate]="'membermaster.fatherOrHusbandName'"></mat-label>
              <input matInput formControlName="fatherOrHusbandName" appFocusOnEnter>
            </mat-form-field>
            <mat-form-field class="col-2">
              <mat-label [translate]="'membermaster.memberAge'"></mat-label>
              <input matInput formControlName="memberAge" appFocusOnEnter>
            </mat-form-field>
            <mat-form-field class="col-2">
              <mat-label [translate]="'membermaster.address'"></mat-label>
              <input matInput formControlName="address" appFocusOnEnter>
            </mat-form-field>
            <mat-form-field class="col-2">
              <mat-label [translate]="'membermaster.city'"></mat-label>
              <input matInput formControlName="city" appFocusOnEnter>
            </mat-form-field>
            <mat-form-field class="col-2">
              <mat-label [translate]="'membermaster.state'"></mat-label>
              <input matInput formControlName="state" appFocusOnEnter>
            </mat-form-field>
            <!-- <mat-form-field>
                          <mat-label [translate]="'membermaster.state'"></mat-label>
                          <select matNativeControl id="state" placeholder="{{'membermaster.state' | translate }}"
                            formControlName="state">
                            <option *ngFor="let stateName of stateList" [value]="stateName.id"
                              [selected]="stateName.isDefualtSelected">
                            {{stateName.text}}</option>
                          </select>
                        </mat-form-field> -->
            <mat-form-field class="col-2">
              <mat-label [translate]="'membermaster.country'"></mat-label>
              <input matInput formControlName="country" appFocusOnEnter>
            </mat-form-field>
            <mat-form-field class="col-2">
              <mat-label [translate]="'membermaster.pinCode'"></mat-label>
              <input matInput formControlName="pinCode" appFocusOnEnter>
            </mat-form-field>
            <mat-form-field class="col-2">
              <mat-label [translate]="'membermaster.phone'"></mat-label>
              <input matInput formControlName="phone" appFocusOnEnter>
            </mat-form-field>
            <mat-form-field class="col-2">
              <mat-label [translate]="'membermaster.mobile'"></mat-label>
              <input matInput formControlName="mobile" appFocusOnEnter>
            </mat-form-field>
            <mat-form-field class="col-2">
              <mat-label [translate]="'membermaster.gender'"></mat-label>
              <input matInput formControlName="gender" appFocusOnEnter>
            </mat-form-field>
            <mat-form-field class="col-2">
              <mat-label [translate]="'membermaster.email'"></mat-label>
              <input matInput formControlName="email" appFocusOnEnter>
            </mat-form-field>
            <mat-form-field class="col-2">
              <mat-label [translate]="'membermaster.aadharNumber'"></mat-label>
              <input matInput formControlName="aadharNumber" appFocusOnEnter maxlength="12">
            </mat-form-field>
            <mat-form-field class="col-2">
              <mat-label [translate]="'membermaster.dob'"></mat-label>
              <input matInput [matDatepicker]="picker3" formControlName="dob">
              <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
              <mat-datepicker #picker3></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="col-2">
              <mat-label [translate]="'membermaster.occupation'"></mat-label>
              <input matInput formControlName="occupation" appFocusOnEnter>
            </mat-form-field>
            <mat-form-field class="col-2">
              <mat-label [translate]="'membermaster.nominee'"></mat-label>
              <input matInput formControlName="nominee" appFocusOnEnter>
            </mat-form-field>
            <mat-form-field class="col-2">
              <mat-label [translate]="'membermaster.relation'"></mat-label>
              <select matNativeControl id="relation" formControlName="relation">
                @for (relationName of relations; track relationName) {
                <option [value]="relationName.id">{{relationName.text}}</option>
                }
              </select>
            </mat-form-field>
            <mat-form-field class="col-2">
              <mat-label [translate]="'membermaster.aadharCard'"></mat-label>
              <input matInput [matDatepicker]="picker1" formControlName="passBook">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="col-2">
              <mat-label [translate]="'membermaster.passBookStatus'"></mat-label>
              <select matNativeControl id="passBookStatus" formControlName="passBookStatus">
                @for (passbookStatusName of passbookStatuses; track passbookStatusName) {
                <option [value]="passbookStatusName.id">
                  {{passbookStatusName.text}}</option>
                }
              </select>
            </mat-form-field>
            <mat-form-field class="col-2">
              <mat-label [translate]="'membermaster.joinDate'"></mat-label>
              <input matInput [matDatepicker]="picker2" formControlName="joinDate">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
            <!-- <mat-form-field>
                                                <mat-label [translate]="'membermaster.state'"></mat-label>
                                                <select matNativeControl id="state" placeholder="{{'membermaster.state' | translate }}" >
                                                  <option value="" disabled selected></option>
                                                  <option value="AndharaPradesh">AndharaPradesh</option>
                                                  <option value="Telangana">Telangana</option>
                                                </select>
                                              </mat-form-field> -->
            <mat-form-field class="col-2">
              <mat-label [translate]="'membermaster.noofShares'"></mat-label>
              <input matInput formControlName="noofShares" appFocusOnEnter>
            </mat-form-field>
            <mat-form-field class="col-2">
              <mat-label [translate]="'membermaster.issuedShares'"></mat-label>
              <input matInput formControlName="issuedShares" appFocusOnEnter>
            </mat-form-field>
            <mat-form-field class="col-2">
              <mat-label [translate]="'membermaster.receivedShares'"></mat-label>
              <input matInput formControlName="receivedShares" appFocusOnEnter>
            </mat-form-field>
            <mat-form-field class="col-2">
              <mat-label [translate]="'membermaster.totalShares'"></mat-label>
              <input matInput formControlName="totalShares" appFocusOnEnter>
            </mat-form-field>
            <mat-form-field class="col-2">
              <mat-label [translate]="'membermaster.giftIssued'"></mat-label>
              <mat-select formControlName="giftIssued" placeholder="giftIssued">
                @for (giftissued of giftIssued; track giftissued) {
                <mat-option [value]="giftissued.value">
                  {{giftissued.viewValue}}
                </mat-option>
                }
              </mat-select>
            </mat-form-field>
            <mat-form-field class="col-2">
              <mat-label [translate]="'membermaster.giftIssuedDate'"></mat-label>
              <input matInput [matDatepicker]="picker4" formControlName="giftIssuedDate">
              <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
              <mat-datepicker #picker4></mat-datepicker>
            </mat-form-field>
          </div>
          <mat-divider></mat-divider>
          <div class="col-12 p-2 d-flex justify-content-end">
            <button mat-raised-button class="button-color-red text-white mr-1" type="button" (click)="formToggle()">
              {{ 'COMMON.CANCEL' | translate }}
            </button>
            <button mat-raised-button type="submit" class="button-color-bule text-white ml-1" type="button"
              (click)="save()" appFocusOnEnter tabIndex="5">
              {{ 'COMMON.SAVE' | translate }}
            </button>
            <button type="button" class="button-color-bule text-white ml-2 " mat-raised-button
              (click)="formToggle('back')">
              Back
            </button>
          </div>
        </form>
      </mat-tab>
      @if (isFormEdit) {
      <mat-tab label="{{ 'vehicle.title' | translate }}">
        <app-vehicle [vehicleTableData]="vehicleTableData" [memberCode]="formData.memberCode"></app-vehicle>
      </mat-tab>
      }
      @if (isFormEdit) {
      <mat-tab label="{{ 'giftMaster.title' | translate }}">
        <gift-master [membercode]="formData.memberCode"></gift-master>
      </mat-tab>
      }
      @if (isFormEdit) {
      <mat-tab label="{{ 'shareTransfer.title' | translate }}">
        <app-ShareTransfer [shareTableData]="shareTableData" [memberCode]="formData.memberCode"></app-ShareTransfer>
      </mat-tab>
      }
      @if (isFormEdit) {
      <mat-tab label="{{ 'additionalShareTransfer.title' | translate }}">
        <app-AdditionalShareTransfer [shareTableData]="shareTableData"
          [memberCode]="formData.memberCode"></app-AdditionalShareTransfer>
      </mat-tab>
      }
    </mat-tab-group>
  </mat-card-content>
</mat-card>
}

@if (!isMemberForm) {
<div>
  <app-table [tableData]="tableData" (addOrUpdateEvent)="addOrUpdateEvent($event)" (searchEvent)="searchEvent($event)"
    (addEvent)="formToggle()"></app-table>
</div>
}