<div class="">
  <mat-card>

    <mat-card-content>

      <form [formGroup]="branchFormData" autocomplete="off">

        <div class="row">

          <mat-form-field class="col-2">
            <mat-label>{{ 'salesReturn.branchName' | translate }}</mat-label>
            <mat-select formControlName="branchCode" (selectionChange)="genarateBillNo();">
              @for (branch of branchesBillingList; track branch) {
              <mat-option [value]="branch.id">
                {{ branch.id }} - {{branch.text}}
              </mat-option>
              }
            </mat-select>
          </mat-form-field>

          <mat-form-field class="col-2">
            <mat-label>{{ 'salesReturn.invoiceDate' | translate }}</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="invoiceDate" (click)="picker.open()" readonly>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="col-2">
            <mat-label>{{ 'salesReturn.invoiceNo' | translate }}</mat-label>
            <input matInput formControlName="invoiceNo">
          </mat-form-field>


          <mat-form-field class="col-2">
            <mat-label>{{ 'salesReturn.stateCode' | translate }}</mat-label>
            <mat-select formControlName="stateCode" (selectionChange)="getSelectedState()">
              @for (state of getStateListArray; track state) {
              <mat-option [value]="state.id">
                {{ state.id}} - {{state.text}}
              </mat-option>
              }
            </mat-select>
          </mat-form-field>


          <mat-form-field class="col-2">
            <mat-label>{{ 'salesReturn.paymentMode' | translate }}</mat-label>
            <input matInput formControlName="paymentMode">
          </mat-form-field>

          <div class="mat-mdc-form-field typeahead floating-dropdown col-2"
            [class.filled]="branchFormData.get('ledgerCode')?.value">
            <label> {{ 'salesReturn.ledgerCode' | translate }} </label>
            <input placeholder=" " formControlName="ledgerCode"
              (input)="getCashPartyAccountList()" id="ledgerCode" shortcutkey="f2"
              autocomplete="off" [typeaheadOptionsLimit]="100000" [typeahead]="getCashPartyAccountListArray"
              typeaheadOptionField='id' class="form-control typeahead" [typeaheadItemTemplate]="customItemTemplate"
              (typeaheadOnSelect)="setLedgerName()" [typeaheadWaitMs]="200" >
            <ng-template #customItemTemplate let-model="item">
              <span><strong>{{model.id}}</strong> - {{model.text}}</span>
            </ng-template>
          </div>

          <mat-form-field class="col-2">
            <mat-label>{{ 'salesReturn.accountName' | translate }}</mat-label>
            <input matInput formControlName="ledgerName">
          </mat-form-field>

          <div class="mat-mdc-form-field typeahead floating-dropdown col-2"
            [class.filled]="branchFormData.get('vehicleRegNo')?.value">
            <label> {{ 'salesReturn.vehicleRegNo' | translate }} </label>
            <input placeholder=" " formControlName="vehicleRegNo" (typeaheadOnSelect)="getmemberNamesByCode($event)"
              (input)="getVechiels($event.target.value)" id="vehicleRegNo" [typeahead]="getVechielsArray"
              autocomplete="off" [typeaheadOptionsLimit]="100000" typeaheadOptionField='text'
              class="form-control typeahead" [typeaheadWaitMs]="200" >
          </div>


          <mat-form-field class="col-2">
            <mat-label>{{ 'salesReturn.mobile' | translate }}</mat-label>
            <input matInput type="number" formControlName="mobile">
          </mat-form-field>

          <mat-form-field class="col-2">
            <mat-label>{{ 'salesReturn.customerName' | translate }}</mat-label>
            <input matInput formControlName="customerName">
          </mat-form-field>

          <mat-form-field class="col-2">
            <mat-label>{{ 'salesReturn.suppliedTo' | translate }}</mat-label>
            <input matInput formControlName="suppliedTo">
          </mat-form-field>

          <mat-form-field class="col-2">
            <mat-label>{{ 'salesReturn.customerGstin' | translate }}</mat-label>
            <input matInput formControlName="customerGstin">
          </mat-form-field>

          <div class="mat-mdc-form-field typeahead floating-dropdown col-2"
            [class.filled]="branchFormData.get('memberName')?.value">
            <label> {{ 'salesReturn.memberName' | translate }} </label>
            <input placeholder=" " formControlName="memberName" (typeaheadOnSelect)="setMemberName($event)"
              (input)="getmemberNames($event.target.value)" id="memberName" [typeahead]="getmemberNamesArray"
              autocomplete="off" [typeaheadOptionsLimit]="100000" [typeaheadItemTemplate]="customMemberName"
              typeaheadOptionField='text' class="form-control typeahead" [typeaheadWaitMs]="200"
              >
            <ng-template #customMemberName let-model="item">
              <span><strong>{{model.id}}</strong> - {{model.text}}</span>
            </ng-template>
          </div>

          <mat-form-field class="col-2">
            <mat-label>{{ 'salesReturn.generalNo' | translate }}</mat-label>
            <input matInput formControlName="generalNo">
          </mat-form-field>

          <mat-form-field class="col-2">
            <mat-label>{{ 'salesReturn.accountBalance' | translate }}</mat-label>
            <input matInput formControlName="accountBalance">
          </mat-form-field>

        </div>
      </form>


    </mat-card-content>

  </mat-card>


  <mat-card class="mt-2">

    <mat-card-content>
      <div class="table mt-3 mat-form-field-height">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100">

          <ng-container matColumnDef="SlNo">
            <th class="p-0" mat-header-cell *matHeaderCellDef> {{ 'salesReturn.SlNo' | translate }} </th>
            <td mat-cell *matCellDef="let element;">

              <input matInput disabled value="{{ dataSource.filteredData.indexOf(element) + 1}}" />
            </td>
          </ng-container>

          <ng-container matColumnDef="productCode">
            <th mat-header-cell *matHeaderCellDef> {{ 'salesReturn.productCode' | translate }} </th>
            <td mat-cell *matCellDef="let element;">
              <input class="typeAhead" [(ngModel)]="element.productCode" [disabled]="element.text != 'obj'"
                (typeaheadOnSelect)="getBillingDetailsRcd($event, dataSource.filteredData.indexOf(element))"
                (input)="getProductByProductCode($event.target.value)" [typeahead]="getProductByProductCodeArray"
                typeaheadOptionField='text' autocomplete="off" [typeaheadMinLength]="0" [minLength]="1"
                [typeaheadWaitMs]="200">
            </td>
          </ng-container>

          <ng-container matColumnDef="productName">
            <th mat-header-cell *matHeaderCellDef> {{ 'salesReturn.productName' | translate }} </th>
            <td mat-cell *matCellDef="let element;">
              <input class="typeAhead" [(ngModel)]="element.productName" [matTooltip]="element.productName"
                [disabled]="element.text != 'obj'" (typeaheadOnSelect)="setProductName($event, element)"
                (input)="getProductByProductName($event.target.value)" [typeahead]="getProductByProductNameArray"
                typeaheadOptionField='text' autocomplete="off" [typeaheadMinLength]="0" [minLength]="1"
                [typeaheadWaitMs]="200">
            </td>
          </ng-container>

          <ng-container matColumnDef="hsnNo">
            <th mat-header-cell *matHeaderCellDef> {{ 'salesReturn.hsnNo' | translate }} </th>
            <td mat-cell *matCellDef="let element;">
              <input matInput type="number" [disabled]="element.text != 'obj'" [value]="element.hsnNo"
                [(ngModel)]="element.hsnNo" (input)="setToFormModel(element.text, 'hsnNo', element.hsnNo)" />
            </td>
          </ng-container>


          <ng-container matColumnDef="pumpNo">
            <th mat-header-cell *matHeaderCellDef> {{ 'salesReturn.pumpNo' | translate }} </th>
            <td mat-cell *matCellDef="let element;">
              <input class="typeAhead" [(ngModel)]="element.pumpNo"
                [disabled]="element.text != 'obj' || disabledPump(element.productCode)"
                (input)="getPupms($event.target.value)" [typeahead]="getPupmsArray" typeaheadOptionField='text'
                autocomplete="off" [typeaheadMinLength]="0" [minLength]="1" [typeaheadWaitMs]="200">
            </td>
          </ng-container>

          <ng-container matColumnDef="qty">
            <th mat-header-cell *matHeaderCellDef> {{ 'salesReturn.qty' | translate }} </th>
            <td mat-cell *matCellDef="let element;">
              <input matInput type="number" [disabled]="element.text != 'obj'" [value]="element.qty"
                (change)="calculateAmount(element, dataSource.filteredData.indexOf(element))" [(ngModel)]="element.qty"
                (input)="setToFormModel(element.text, 'qty', element.qty); clearQty(dataSource.filteredData.indexOf(element), element.qty, 'qty', element);" />
            </td>
          </ng-container>

          <ng-container matColumnDef="fQty">
            <th mat-header-cell *matHeaderCellDef> {{ 'salesReturn.fQty' | translate }} </th>
            <td mat-cell *matCellDef="let element;">
              @if (dataSource.filteredData.indexOf(element) == 0) {
              <input matInput type="number" disabled [value]="element.fQty" [(ngModel)]="element.fQty" />
              }
              @if (dataSource.filteredData.indexOf(element) != 0) {
              <input matInput type="number" [disabled]="element.text != 'obj'" [value]="element.fQty"
                [(ngModel)]="element.fQty" (change)="calculateAmount(element, dataSource.filteredData.indexOf(element))"
                (input)="setToFormModel(element.text, 'fQty', element.fQty); clearQty(dataSource.filteredData.indexOf(element), element.fQty, 'fQty', element);" />
              }
            </td>
          </ng-container>

          <ng-container matColumnDef="slipNo">
            <th mat-header-cell *matHeaderCellDef> {{ 'salesReturn.slipNo' | translate }} </th>
            <td mat-cell *matCellDef="let element;">
              <input matInput type="number"
                [ngClass]="setBackGroundColor(element.slipNo, disableSlipVal(element.productCode))"
                [disabled]="element.text != 'obj' || disableSlipVal(element.productCode)" [value]="element.slipNo"
                [(ngModel)]="element.slipNo" (input)="setToFormModel(element.text, 'slipNo', element.slipNo)" />
            </td>
          </ng-container>

          <ng-container matColumnDef="unitName">
            <th mat-header-cell *matHeaderCellDef> {{ 'salesReturn.unitName' | translate }} </th>
            <td mat-cell *matCellDef="let element;">
              <input matInput [disabled]="element.text != 'obj'" [value]="element.unitName"
                [(ngModel)]="element.unitName" (input)="setToFormModel(element.text, 'unitName', element.unitName)" />
            </td>
          </ng-container>

          <ng-container matColumnDef="discount">
            <th mat-header-cell *matHeaderCellDef> {{ 'salesReturn.discount' | translate }} </th>
            <td mat-cell *matCellDef="let element;">
              <input matInput type="number" [disabled]="element.text != 'obj'" [value]="element.discount"
                [(ngModel)]="element.discount" (input)="setToFormModel(element.text, 'discount', element.discount)" />
            </td>
          </ng-container>

          <ng-container matColumnDef="taxGroupName">
            <th mat-header-cell *matHeaderCellDef> {{ 'salesReturn.taxGroupName' | translate }} </th>
            <td mat-cell *matCellDef="let element;">
              <input matInput disabled [value]="element.taxGroupName" [(ngModel)]="element.taxGroupName"
                (input)="setToFormModel(element.text, 'taxGroupName', element.taxGroupName)" />
            </td>
          </ng-container>

          <ng-container matColumnDef="rate">
            <th mat-header-cell *matHeaderCellDef> {{ 'salesReturn.rate' | translate }} </th>
            <td mat-cell *matCellDef="let element;">
              <input matInput [value]="element.rate" [(ngModel)]="element.rate"
                (change)="calculateAmount(element, dataSource.filteredData.indexOf(element))"
                (input)="setToFormModel(element.text, 'rate', element.rate)" />
            </td>
          </ng-container>

          <ng-container matColumnDef="grossAmount">
            <th mat-header-cell *matHeaderCellDef> {{ 'salesReturn.grossAmount' | translate }} </th>
            <td mat-cell *matCellDef="let element;">
              <input type="number" matInput disabled [value]="element.grossAmount" [(ngModel)]="element.grossAmount"
                (input)="setToFormModel(element.text, 'grossAmount', element.grossAmount)" />
            </td>
          </ng-container>

          <ng-container matColumnDef="availStock">
            <th mat-header-cell *matHeaderCellDef> {{ 'salesReturn.availStock' | translate }} </th>
            <td mat-cell *matCellDef="let element;">
              <input matInput disabled [value]="element.availStock" [(ngModel)]="element.availStock"
                (input)="setToFormModel(element.text, 'availStock', element.availStock);" />
            </td>
          </ng-container>

          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let element;">
              @if ((element.text == 'obj')) {
              <mat-icon class="cursor--pointer delete-icon"
                (click)="deleteRow(dataSource.filteredData.indexOf(element))">delete</mat-icon>
              }
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;">
          </tr>
        </table>

      </div>

      @if (!dataSource) {
      <div class="d-flex justify-content-center p-2">
        <strong> No records found </strong>
      </div>
      }

    </mat-card-content>
  </mat-card>



  <mat-card class="mt-2">

    <mat-card-content class="p-2">

      <form [formGroup]="branchFormData" autocomplete="off">


        <div class="d-flex justify-content-between">

          <div class="d-flex justify-content-end">
            <div class="w-75">
              <mat-form-field class="w-100">
                <mat-label>{{ 'salesReturn.userName' | translate }}</mat-label>
                <input matInput formControlName="userName">
              </mat-form-field>

              <mat-form-field class="w-100">
                <mat-label>{{ 'salesReturn.AMOUNTINWORDS' | translate }}</mat-label>
                <textarea matInput formControlName="amountInWords" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="4" cdkAutosizeMaxRows="5"></textarea>
              </mat-form-field>
            </div>
          </div>


          <div class="d-flex justify-content-end">
            <div class="w-75">
              <mat-form-field class="w-100">
                <mat-label>{{ 'salesReturn.totalCgst' | translate }}</mat-label>
                <input matInput formControlName="totalCgst">
              </mat-form-field>

              <mat-form-field class="w-100">
                <mat-label>{{ 'salesReturn.totalSgst' | translate }}</mat-label>
                <input matInput formControlName="totalSgst">
              </mat-form-field>

              <mat-form-field class="w-100">
                <mat-label>{{ 'salesReturn.totalIgst' | translate }}</mat-label>
                <input matInput formControlName="totalIgst">
              </mat-form-field>
            </div>
          </div>

          <div class="d-flex justify-content-end">
            <div class="w-75">
              <mat-form-field class="w-100">
                <mat-label>{{ 'salesReturn.totalAmount' | translate }}</mat-label>
                <input matInput formControlName="totalAmount">
              </mat-form-field>

              <mat-form-field class="w-100">
                <mat-label>{{ 'salesReturn.totaltaxAmount' | translate }}</mat-label>
                <input matInput formControlName="totaltaxAmount">
              </mat-form-field>

              <mat-form-field class="w-100">
                <mat-label>{{ 'salesReturn.grandTotal' | translate }}</mat-label>
                <input matInput formControlName="grandTotal">
              </mat-form-field>
            </div>
          </div>

        </div>

      </form>

      <div class="d-flex justify-content-end">
        <div class="d-flex flex-column mr-3">
          <mat-label>{{ 'COMMON.PRINT' | translate }}</mat-label>
          <mat-slide-toggle [(ngModel)]="printBill" [checked]="printBill">
          </mat-slide-toggle>
        </div>
        <button mat-raised-button type="submit" class="button-color-bule mr-3 text-white" (click)="print()">
          {{ 'COMMON.PRINT' | translate }}
        </button>
        <button mat-raised-button class="button-color-red text-white mr-3" [disabled]="routeUrl != ''"
          (click)="reset();">
          {{ 'COMMON.RESET' | translate }}
        </button>
        <button mat-raised-button class="button-color-red text-white mr-3" (click)="back();">
          {{ 'COMMON.BACK' | translate }}
        </button>
      </div>



    </mat-card-content>
  </mat-card>

</div>