<div class="">
  <mat-card>

    <mat-card-content>

      <form [formGroup]="branchFormData" autocomplete="off">

        <div class="row">

          <mat-form-field class="col-2">
            <mat-label>{{ 'purchaseInvoice.branchName' | translate }}</mat-label>
            <mat-select formControlName="branchCode" (selectionChange)="genarateBillNo();">
              @for (branch of getBranchesListArray; track branch) {
              <mat-option [value]="branch.id">
                {{ branch.id }} - {{branch.text}}
              </mat-option>
              }
            </mat-select>
          </mat-form-field>

          <mat-form-field class="col-2">
            <mat-label>{{ 'purchaseInvoice.purchaseInvDate' | translate }}</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="purchaseInvDate" (click)="picker.open()" readonly>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="col-2">
            <mat-label>{{ 'purchaseInvoice.purchaseInvNo' | translate }}</mat-label>
            <input matInput formControlName="purchaseInvNo">
          </mat-form-field>

          <div class="mat-mdc-form-field typeahead floating-dropdown col-2"
            [class.filled]="branchFormData.value?.ledgerCode?.length > 0">
            <label> {{ 'salesInvoice.ledgerCode' | translate }} </label>
            <input placeholder=" " formControlName="ledgerCode"
              (input)="getPCashPartyAccountList($event.target.value, false)" id="ledgerCode" autocomplete="off"
              [typeaheadOptionsLimit]="100000" [typeahead]="getCashPartyAccountListArray" typeaheadOptionField='id'
              class="form-control typeahead" [typeaheadItemTemplate]="customItemTemplate"
              (typeaheadOnSelect)="setLedgerName()" [typeaheadWaitMs]="200" (keydown.enter)="save()">
            <ng-template #customItemTemplate let-model="item">
              <span><strong>{{model.id}}</strong> - {{model.text}}</span>
            </ng-template>
          </div>

          <mat-form-field class="col-2">
            <mat-label>{{ 'purchaseInvoice.ledgerName' | translate }}</mat-label>
            <input matInput formControlName="ledgerName" (keydown.enter)="save()">
          </mat-form-field>

          <mat-form-field class="col-2">
            <mat-label>{{ 'purchaseInvoice.stateCode' | translate }}</mat-label>
            <mat-select formControlName="stateCode" (selectionChange)="getSelectedState()">
              @for (state of getStateListArray; track state) {
              <mat-option [value]="state.id">
                {{state.id}} - {{state.text}}
              </mat-option>
              }
            </mat-select>
          </mat-form-field>

          <mat-form-field class="col-2">
            <mat-label>{{ 'purchaseInvoice.supplierInvNo' | translate }}</mat-label>
            <input matInput formControlName="supplierInvNo" (keydown.enter)="save()">
          </mat-form-field>

          <mat-form-field class="col-2">
            <mat-label>{{ 'purchaseInvoice.paymentMode' | translate }}</mat-label>
            <input matInput formControlName="paymentMode">
          </mat-form-field>

          <mat-form-field class="col-2">
            <mat-label>{{ 'purchaseInvoice.gstin' | translate }}</mat-label>
            <input matInput formControlName="gstin" (keydown.enter)="save()">
          </mat-form-field>

          <!-- <mat-form-field class="form-element">
                    <mat-label>{{ 'COMMON.PRINT' | translate }}</mat-label>
                    <mat-slide-toggle [(ngModel)]="printBill" [checked]="printBill">
                    </mat-slide-toggle>
                  </mat-form-field> -->

          <mat-form-field floatLabel="always" appearance="none">
            <mat-label>{{ 'purchaseInvoice.tcs' | translate }}</mat-label>
            <mat-slide-toggle [(ngModel)]="tcs" [ngModelOptions]="{standalone: true}" [checked]="tcs"
              (change)="toggleChanges($event)"></mat-slide-toggle>
            <textarea matInput hidden></textarea>
          </mat-form-field>

        </div>
      </form>
    </mat-card-content>

  </mat-card>


  <mat-card class="mt-2">

    <mat-card-content>
      <div class="table mt-3 mat-form-field-height">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100">

          <ng-container matColumnDef="SlNo">
            <th class="p-0" mat-header-cell *matHeaderCellDef> {{ 'purchaseInvoice.SlNo' | translate }} </th>
            <td mat-cell *matCellDef="let element;">

              <input matInput disabled value="{{ dataSource.filteredData.indexOf(element) + 1}}" />
            </td>
          </ng-container>

          <ng-container matColumnDef="productCode">
            <th mat-header-cell *matHeaderCellDef> {{ 'purchaseInvoice.productCode' | translate }} </th>
            <td mat-cell *matCellDef="let element;">
              <input class="typeAhead" [(ngModel)]="element.productCode" type="search"
                id="productCode{{ dataSource.filteredData.indexOf(element) }}" [disabled]="element.text != 'obj'"
                (typeaheadOnSelect)="getProductDeatilsSectionRcd($event, dataSource.filteredData.indexOf(element), 'qty')"
                (input)="getProductByProductCode($event.target.value)" [typeahead]="getProductByProductCodeArray"
                typeaheadOptionField='text' autocomplete="off" [typeaheadMinLength]="0" [minLength]="1"
                [typeaheadWaitMs]="200" (keydown.enter)="save()">
            </td>
          </ng-container>

          <ng-container matColumnDef="productName">
            <th mat-header-cell *matHeaderCellDef> {{ 'purchaseInvoice.productName' | translate }} </th>
            <td mat-cell *matCellDef="let element;">
              <input class="typeAhead" [(ngModel)]="element.productName" [matTooltip]="element.productName"
                [disabled]="element.text != 'obj'" (typeaheadOnSelect)="setProductName($event)"
                (input)="getProductByProductName($event.target.value)" [typeahead]="getProductByProductNameArray"
                typeaheadOptionField='text' autocomplete="off" [typeaheadMinLength]="0" [minLength]="1"
                [typeaheadWaitMs]="200" (keydown.enter)="save()">
            </td>
          </ng-container>

          <ng-container matColumnDef="hsnNo">
            <th mat-header-cell *matHeaderCellDef> {{ 'purchaseInvoice.hsnNo' | translate }} </th>
            <td mat-cell *matCellDef="let element;">
              <input matInput type="number" [disabled]="element.text != 'obj'" [value]="element.hsnNo"
                [(ngModel)]="element.hsnNo" (input)="setToFormModel(element.text, 'hsnNo', element.hsnNo)"
                (keydown.enter)="save()" />
            </td>
          </ng-container>


          <ng-container matColumnDef="unitName">
            <th mat-header-cell *matHeaderCellDef> {{ 'purchaseInvoice.unitName' | translate }} </th>
            <td mat-cell *matCellDef="let element;">
              <input matInput [disabled]="element.text != 'obj'" [value]="element.unitName"
                [(ngModel)]="element.unitName" (input)="setToFormModel(element.text, 'unitName', element.unitName)"
                (keydown.enter)="save()" />
            </td>
          </ng-container>


          <ng-container matColumnDef="qty">
            <th mat-header-cell *matHeaderCellDef> {{ 'purchaseInvoice.qty' | translate }} </th>
            <td mat-cell *matCellDef="let element;">
              <input matInput type="number" [disabled]="element.text != 'obj'" [value]="element.qty"
                id="qty{{ dataSource.filteredData.indexOf(element) }}"
                (change)="calculateAmount(element, dataSource.filteredData.indexOf(element))" [(ngModel)]="element.qty"
                (input)="setToFormModel(element.text, 'qty', element.qty); clearQty(dataSource.filteredData.indexOf(element), element.qty, 'qty', element); setLiters(dataSource.filteredData.indexOf(element), element.qty, element.productCode, element);"
                (keydown.enter)="save()" />
            </td>
          </ng-container>

          <ng-container matColumnDef="fQty">
            <th mat-header-cell *matHeaderCellDef> {{ 'purchaseInvoice.fQty' | translate }} </th>
            <td mat-cell *matCellDef="let element;">
              @if (dataSource.filteredData.indexOf(element) == 0) {
              <input matInput type="number" disabled [value]="element.fQty" [(ngModel)]="element.fQty"
                (keydown.enter)="save()" />
              }
              @if (dataSource.filteredData.indexOf(element) != 0) {
              <input matInput type="number" [disabled]="element.text != 'obj'" [value]="element.fQty"
                [(ngModel)]="element.fQty" (change)="calculateAmount(element, dataSource.filteredData.indexOf(element))"
                (input)="setToFormModel(element.text, 'fQty', element.fQty); clearQty(dataSource.filteredData.indexOf(element), element.fQty, 'fQty', element); setLiters(dataSource.filteredData.indexOf(element), element.fQty, element.productCode, element);"
                (keydown.enter)="save()" />
              }
            </td>
          </ng-container>

          <ng-container matColumnDef="totalLiters">
            <th mat-header-cell *matHeaderCellDef> {{ 'purchaseInvoice.totalLiters' | translate }} </th>
            <td mat-cell *matCellDef="let element;">
              <input matInput disabled [value]="element.totalLiters" [(ngModel)]="element.totalLiters"
                (input)="setToFormModel(element.text, 'totalLiters', element.totalLiters)" (keydown.enter)="save()" />
            </td>
          </ng-container>

          <ng-container matColumnDef="tankNo">
            <th mat-header-cell *matHeaderCellDef> {{ 'purchaseInvoice.tankNo' | translate }} </th>
            <td mat-cell *matCellDef="let element;">
              <input matInput type="number" [disabled]="element.text != 'obj'" [value]="element.tankNo"
                [ngClass]="setBackGroundColor(element.tankNo, element.productCode)" [(ngModel)]="element.tankNo"
                (input)="setToFormModel(element.text, 'tankNo', element.tankNo); getTankas(element.tankNo, dataSource.filteredData.indexOf(element))"
                (keydown.enter)="save()" />
            </td>
          </ng-container>

          <ng-container matColumnDef="rate">
            <th mat-header-cell *matHeaderCellDef> {{ 'purchaseInvoice.rate' | translate }} </th>
            <td mat-cell *matCellDef="let element;">
              <input matInput [value]="element.rate" [(ngModel)]="element.rate"
                (change)="calculateAmount(element, dataSource.filteredData.indexOf(element))"
                (input)="setToFormModel(element.text, 'rate', element.rate)" (keydown.enter)="save()" />
            </td>
          </ng-container>

          <ng-container matColumnDef="discount">
            <th mat-header-cell *matHeaderCellDef> {{ 'purchaseInvoice.discount' | translate }} </th>
            <td mat-cell *matCellDef="let element;">
              <input matInput type="number" [disabled]="element.text != 'obj'" [value]="element.discount"
                [(ngModel)]="element.discount" (input)="setToFormModel(element.text, 'discount', element.discount)"
                (keydown.enter)="save()" />
            </td>
          </ng-container>



          <ng-container matColumnDef="grossAmount">
            <th mat-header-cell *matHeaderCellDef> {{ 'purchaseInvoice.grossAmount' | translate }} </th>
            <td mat-cell *matCellDef="let element;">
              <input type="number" matInput disabled [value]="element.grossAmount" [(ngModel)]="element.grossAmount"
                (input)="setToFormModel(element.text, 'grossAmount', element.grossAmount)" (keydown.enter)="save()" />
            </td>
          </ng-container>

          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let element;">
              @if ((element.text == 'obj')) {
              <mat-icon class="cursor--pointer delete-icon"
                (click)="deleteRow(dataSource.filteredData.indexOf(element))">delete</mat-icon>
              }
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;">
          </tr>
        </table>

      </div>

      @if (!dataSource) {
      <div class="d-flex justify-content-center p-2">
        <strong> No records found </strong>
      </div>
      }

    </mat-card-content>
  </mat-card>



  <mat-card class="mt-2">

    <mat-card-content class="p-2">

      <form [formGroup]="branchFormData" autocomplete="off">


        <div class="d-flex justify-content-between">

          <div class="d-flex justify-content-end">
            <div class="w-75">
              <mat-form-field class="w-100">
                <mat-label>{{ 'purchaseInvoice.userName' | translate }}</mat-label>
                <input matInput formControlName="userName">
              </mat-form-field>

              <mat-form-field class="w-100">
                <mat-label>{{ 'purchaseInvoice.AMOUNTINWORDS' | translate }}</mat-label>
                <textarea matInput formControlName="amountInWords" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="3" cdkAutosizeMaxRows="5"></textarea>
              </mat-form-field>

              <mat-form-field class="w-100">
                <mat-label>{{ 'purchaseInvoice.narration' | translate }}</mat-label> <textarea matInput
                  formControlName="narration" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="3"
                  cdkAutosizeMaxRows="5"></textarea>
              </mat-form-field>

            </div>
          </div>



          <div class="d-flex justify-content-end">
            <div class="w-75">
              <mat-form-field class="w-100">
                <mat-label>{{ 'purchaseInvoice.totalCgst' | translate }}</mat-label>
                <input matInput formControlName="totalCgst">
              </mat-form-field>

              <mat-form-field class="w-100">
                <mat-label>{{ 'purchaseInvoice.totalSgst' | translate }}</mat-label>
                <input matInput formControlName="totalSgst">
              </mat-form-field>

              <mat-form-field class="w-100">
                <mat-label>{{ 'purchaseInvoice.totalIgst' | translate }}</mat-label>
                <input matInput formControlName="totalIgst">
              </mat-form-field>

              <mat-form-field class="w-100">
                <mat-label>{{ 'purchaseInvoice.totalTcs' | translate }}</mat-label>
                <input matInput formControlName="totalTcsAmount">
              </mat-form-field>
            </div>
          </div>

          <div class="d-flex justify-content-end">
            <div class="w-75">
              <mat-form-field class="w-100">
                <mat-label>{{ 'purchaseInvoice.roundOffPlus' | translate }}</mat-label>
                <input matInput type="number" (input)="roundOff('roundOffPlus')" placeholder="Round Off(+)"
                  formControlName="roundOffPlus">
              </mat-form-field>

              <mat-form-field class="w-100">
                <mat-label>{{ 'purchaseInvoice.roundOffMinus' | translate }}</mat-label>
                <input matInput type="number" (input)="roundOff('roundOffMinus')" placeholder="Round Off(-)"
                  formControlName="roundOffMinus">
              </mat-form-field>

            </div>
          </div>

          <div class="d-flex justify-content-end">
            <div class="w-75">
              <mat-form-field class="w-100">
                  <mat-label>{{ 'purchaseInvoice.totalAmount' | translate }}</mat-label>
                <input matInput formControlName="totalAmount">
              </mat-form-field>

              <mat-form-field class="w-100">
                <mat-label>{{ 'purchaseInvoice.totaltaxAmount' | translate }}</mat-label>
                <input matInput formControlName="totaltaxAmount">
              </mat-form-field>

              <mat-form-field class="w-100">
                <mat-label>{{ 'purchaseInvoice.grandTotal' | translate }}</mat-label>
                <input matInput formControlName="grandTotal">
              </mat-form-field>
            </div>
          </div>

        </div>

      </form>

      <div class="d-flex justify-content-end">
        <div class="d-flex flex-column mr-3">
          <mat-label>{{ 'COMMON.PRINT' | translate }}</mat-label>
          <mat-slide-toggle [(ngModel)]="printBill" [checked]="printBill">
          </mat-slide-toggle>
        </div>

        @if ((routeUrl != 'return' && routeUrl != '')) {
        <button mat-raised-button type="submit" class="button-color-bule mr-3 text-white" (click)="print()">
          {{ 'COMMON.PRINT' | translate }}
        </button>
        }
        @if ((routeUrl == 'return' || routeUrl == '')) {
        <button mat-raised-button type="submit" class="button-color-bule mr-3 text-white" (click)="save()">
          {{ 'COMMON.SAVE' | translate }}
        </button>
        }
        <!-- <button mat-raised-button class="button-color-red text-white mr-3" [disabled]="routeUrl != ''"
          (click)="reset();">

          {{ 'COMMON.RESET' | translate }}
        </button> -->
        <button mat-raised-button class="button-color-red text-white mr-3" (click)="back();">
          {{ 'COMMON.BACK' | translate }}
        </button>
      </div>



    </mat-card-content>
  </mat-card>

</div>