<div class="position-relative popup-class">
  <mat-card-content class="pt-5 p-2 m-0 overflow-auto ">
    <form [formGroup]="modelFromData">
      <div class="row">
        <mat-form-field class="col-2">
          <mat-label [translate]="'giftMaster.giftName'"></mat-label>
          <mat-select (selectionChange)="onSelectionChange($event)" formControlName="giftName">
            @for (product of productList; track product) {
            <mat-option [value]="product.text">
              {{ product.text }}
            </mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col-2">
          <mat-label [translate]="'giftMaster.description'"></mat-label>
          <input matInput formControlName="description" appFocusOnEnter tabindex="1">
        </mat-form-field>
        <mat-form-field class="col-2">
          <mat-label [translate]="'giftMaster.issuseDate'"></mat-label>
          <input matInput [matDatepicker]="picker2" formControlName="issueDate">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="col-2">
          <mat-label [translate]="'giftMaster.year'"></mat-label> 
          <mat-select [disabled]="isFormEdit" formControlName="year">
            @for (yr of yearArr; track yr) {
            <mat-option [value]="yr" [disabled]="isYearSelectable(yr)"> {{yr}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>
  <div class="form-element p-2 d-flex justify-content-end">
    <button mat-raised-button class="button-color-red text-white mr-1" (click)="reset()">
      {{ 'COMMON.RESET' | translate }}
    </button>
    <button mat-raised-button type="submit" class="button-color-bule text-white ml-1" (click)="save()" appFocusOnEnter
      tabIndex="25">
      {{ modelFromData.value.giftId ? ('COMMON.UPDATE' | translate) : ('COMMON.SAVE' | translate) }}
    </button>
  </div>
</div>


<app-table [tableData]="gifttableDataList" (addOrUpdateEvent)="addOrUpdateEvent($event)" [isGiftmaster]="'true'">
</app-table>