mat-toolbar {
  min-height: 50px;
  height: 50px;
}

.background-color {
  background-color: #0080ff !important
}

//  background-color: var(--start-color, #0080ff);
// background-image: linear-gradient(
//   90deg,
//   var(--start-color, #33a0ff) 0%,
//   var(--end-color, #0066ff) 90%
// );
