<mat-toolbar class="bg-primary text-white">
  <mat-toolbar-row>
    <div class="d-flex justify-content-between align-items-center w-100">
      <div class="d-flex align-items-center">
        @if (showExpandButtons) {
        <button mat-icon-button id="menu" (click)="openCloseMemu()">
          <mat-icon>menu</mat-icon>
        </button>
        }
        <div class="d-flex align-items-center" [routerLink]="['/dashboard']">
          <img  src="assets/images/logo.png" alt="TKDLOMACS" height="25">
          <span class="pl-2" [translate]="'LOGIN.tkdlomacs'"></span>
        </div>
        @if (showExpandButtons) {
        <div class="d-flex align-items-center pl-3">
          @if (employeeShift != null) {
          <small class="pl-2"> {{employeeShift}} </small>
          }
        </div>
        }
      </div>
      <!-- <button *ngIf="showExpandButtons" class="ml-2" mat-button (click)="shift()" > {{ shiftButton }} </button>
    <div class="d-flex" *ngIf="showExpandButtons">
      <span class="align-items-center d-flex pl-3"><mat-icon>account_circle</mat-icon></span>
      <small class="pl-2" *ngIf="loginUser != null">  {{loginUser.userName}}    </small>
    </div>
    <button class="ml-2" mat-button (click)="logout()" *ngIf="showExpandButtons">
      Logout
    </button> -->
        @if (showExpandButtons) {
        <div class="d-flex align-items-center">
          <span class="align-items-center d-flex pl-3"><mat-icon>account_circle</mat-icon></span>
          @if (loginUser != null) {
          <button class="text-white" mat-button [matMenuTriggerFor]="menu">{{loginUser.userName}}</button>
          }
          <mat-menu #menu="matMenu" class="mt-2 bg-light">
            <button (click)="shift()" mat-menu-item> {{ shiftButton }}</button>
            @if (showExpandButtons) {
            <button (click)="logout()" mat-menu-item>Logout</button>
            }
          </mat-menu>
        </div>
        }
    </div>
  </mat-toolbar-row>
</mat-toolbar>