<!-- ===== MAIN UI ===== -->
<mat-card>
  <div class="table-boarder">
    <div class="m-2 table-boarder">
      <form [formGroup]="dateForm" autocomplete="off" class="ml-2 row">

        @if(routeParam=='Shift'||routeParam=='AccountLedger'||routeParam=='24HrsSaleValue'||routeParam=='24HrsSalesStock'||routeParam=='VehicalEnquiry'
        ||routeParam=='IntimateSale'||routeParam=='StockVerification'||routeParam=='StockLedger'||routeParam=='Salesanalysisbybranch'||routeParam=='ProductWiseMonthlyPurchase'||routeParam=='DailySales'
        ||routeParam=='ProductPriceList'||routeParam=='ReceiptsAndPaymentsDetailed'||routeParam=='ReceiptsAndPaymentsSummary'||routeParam=='SMSSummary'||routeParam=='SalesGST'||routeParam=='24HrsSaleValue6AmTo6Am'
        ||routeParam=='TrialBalance'||routeParam=='24HrsMeterReading'||routeParam=='ClosingBalance'||routeParam=='BankReconciliation'||routeParam=='StockValuation'||routeParam=='FourColumnCashBook'
        ||routeParam=='BranchWiseMonthlySalesByLiters'||routeParam=='BranchWiseStockStatementLtrs'||routeParam=='BranchWiseStockStatementQty'
        ||routeParam=='ProductMonthWisePurchaseLtrs'||routeParam=='einvoice') {
        <mat-form-field class="col-3">
          <mat-label> {{ 'report.formDate' | translate }} </mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input matInput matStartDate placeholder="Start date" formControlName="formDate">
            <input matInput matEndDate placeholder="End date" formControlName="toDate">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
        }
        @if(routeParam=='AccountLedger'||routeParam=='IntimateSale'||routeParam=='BankReconciliation') {
        <div class="mat-mdc-form-field typeahead floating-dropdown col-3"
          [class.filled]="dateForm.get('selectedAccountLedger')?.value">
          <label> {{ 'report.selectedAccountLedger' | translate }}</label>
          <input placeholder=" " required formControlName="selectedAccountLedger" id="selectedAccountLedger"
            (typeaheadOnSelect)="setLedgerName($event)" (input)="getBankPAccountLedgerList($event.target.value)"
            [typeahead]="GetBankPAccountLedgerListArray" typeaheadOptionField='display' shortcutkey="f2"
            autocomplete="off" [typeaheadOptionsLimit]="100000" class="form-control typeahead"
            [typeaheadItemTemplate]="customItemTemplate1" [typeaheadWaitMs]="200">
          <ng-template #customItemTemplate1 let-model="item">
            <span><strong>{{model.id}}</strong> - {{model.text}}</span>
          </ng-template>
        </div>
        }
        @if(routeParam=='ClosingBalance') {

        <div class="mat-mdc-form-field typeahead floating-dropdown col-3"
          [class.filled]="dateForm.get('fromAccountLedger')?.value">
          <label> {{ 'report.fromAccountLedger' | translate }} </label>
          <input placeholder=" " required formControlName="fromAccountLedger" id="fromAccountLedger"
            (typeaheadOnSelect)="setLedgerName($event)" (input)="getBankPAccountLedgerList($event.target.value)"
            [typeahead]="GetBankPAccountLedgerListArray" typeaheadOptionField='id' shortcutkey="f2" autocomplete="off"
            [typeaheadOptionsLimit]="100000" class="form-control typeahead"
            [typeaheadItemTemplate]="customItemTemplate2" [typeaheadWaitMs]="200">
          <ng-template #customItemTemplate2 let-model="item">
            <span><strong>{{model.id}}</strong> - {{model.text}}</span>
          </ng-template>
        </div>
        }
        @if(routeParam=='ClosingBalance') {
        <div class="mat-mdc-form-field typeahead floating-dropdown col-3"
          [class.filled]="dateForm.get('toAccountLedger')?.value">
          <label> {{ 'report.toAccountLedger' | translate }} </label>
          <input placeholder=" " required formControlName="toAccountLedger" id="toAccountLedger"
            (typeaheadOnSelect)="setLedgerName($event)" (input)="getBankPAccountLedgerList($event.target.value)"
            [typeahead]="GetBankPAccountLedgerListArray" typeaheadOptionField='id' shortcutkey="f2" autocomplete="off"
            [typeaheadOptionsLimit]="100000" class="form-control typeahead"
            [typeaheadItemTemplate]="customItemTemplate3" [typeaheadWaitMs]="200">
          <ng-template #customItemTemplate3 let-model="item">
            <span><strong>{{model.id}}</strong> - {{model.text}}</span>
          </ng-template>
        </div>
        }
        @if(routeParam=='24HrsSaleValue'||routeParam=='24HrsSalesStock'||routeParam=='StockVerification'||routeParam=='StockLedger'||routeParam=='Salesanalysisbybranch'||routeParam=='DailySales'
        ||routeParam=='ProductPriceList'||routeParam=='24HrsSaleValue6AmTo6Am'||routeParam=='AccountLedger'||routeParam=='24HrsMeterReading'||routeParam=='FourColumnCashBook'
        ||routeParam=='BranchWiseMonthlySalesByLiters'||routeParam=='BranchWiseStockStatementLtrs'||routeParam=='BranchWiseStockStatementQty'
        ||routeParam=='ProductMonthWisePurchaseLtrs') {
        <mat-form-field class="col-3">
          <mat-label> {{ 'report.selectedBranch' | translate }} </mat-label>
          <mat-select formControlName="selectedBranch">
            <mat-option *ngFor="let branch of ReportBranches" [value]="branch.branchCode">
              {{branch.branchName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        }
        @if(routeParam=='ProductPriceList') {
        <mat-form-field class="col-3">
          <mat-label>{{ 'report.selectedReportType' | translate }}</mat-label>
          <mat-select required formControlName="selectedReportType">
            <mat-option *ngFor="let reporttype of ReportsType" [value]="reporttype.id">
              {{reporttype.reportName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        }
        @if(routeParam=='TrialBalance') {
        <mat-form-field class="col-3">
          <mat-label>{{ 'report.selectedTrialReportType' | translate }}</mat-label>
          <mat-select required formControlName="selectedTrialReportType">
            <mat-option *ngFor="let reporttype of TrialBalanceReportType" [value]="reporttype.id">
              {{reporttype.reportName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        }
        @if(routeParam=='ClosingBalance') {
        <mat-form-field class="col-3">
          <mat-label>{{ 'report.selectedClosingReportType' | translate }}</mat-label>
          <mat-select required formControlName="selectedClosingReportType">
            <mat-option *ngFor="let reporttype of ClosingBalanceReportType" [value]="reporttype.id">
              {{reporttype.reportName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        }
        @if(routeParam=='StockLedger') {
        <div class="mat-mdc-form-field typeahead floating-dropdown col-3"
          [class.filled]="dateForm.get('selectedProduct')?.value">
          <label> {{ 'report.selectedProduct' | translate }} </label>
          <input required placeholder=" " formControlName="selectedProduct" id="selectedProduct"
            (typeaheadOnSelect)="setProductName($event)" (input)="getProductsList($event.target.value)"
            [typeahead]="GetProductListArray" typeaheadOptionField='id' shortcutkey="f2" autocomplete="off"
            [typeaheadOptionsLimit]="100000" class="form-control typeahead"
            [typeaheadItemTemplate]="customItemTemplate4" [typeaheadWaitMs]="200">
          <ng-template #customItemTemplate4 let-model="item">
            <span><strong>{{model.id}}</strong> - {{model.text}}</span>
          </ng-template>
        </div>
        }
        @if(routeParam=='VehicalEnquiry') {
        <mat-form-field class="col-3">
          <mat-label>{{ 'report.vehicleRegNo' | translate }}</mat-label>
          <input matInput required formControlName="vehicleRegNo" appFocusOnEnter tabIndex="2">
        </mat-form-field>
        }
        @if(routeParam=='Shift') {
        <mat-form-field class="col-3">
          <mat-label>{{ 'report.selectedReport' | translate }}</mat-label>
          <mat-select required formControlName="selectedReport" (selectionChange)="selectionChange()">
            <mat-option *ngFor="let report of Reports" [value]="report.id">
              {{report.reportName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col-3">
          <mat-label>{{ 'report.SearchCriteria' | translate }}</mat-label>
          <mat-select required formControlName="selectedCriteria">
            <mat-option *ngFor="let search of SearchCriteria" [value]="search.id">
              {{search.parameter}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col-3">
          <mat-label>Search</mat-label>
          <input matInput formControlName="search" appFocusOnEnter tabIndex="1">
        </mat-form-field>
        }
        @if(routeParam=='Salesanalysisbybranch') {
        <mat-form-field class="col-3">
          <mat-label>{{ 'report.ReportName' | translate }}</mat-label>
          <mat-select required formControlName="ReportName" (selectionChange)="selectionChange()">
            <mat-option *ngFor="let report of ReportNames" [value]="report.reportName">
              {{report.reportName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        }
        @if(routeParam=='StockVerification') {
        <mat-checkbox class="col-1" (change)="checkCheckBoxvalue($event)" formControlName="RO">RO'S</mat-checkbox>
        }
        @if(routeParam=='FourColumnCashBook') {
        <mat-form-field class="col-3">
          <mat-label>{{ 'report.selectedFourColumnReportType' | translate }}</mat-label>
          <mat-select required formControlName="selectedFourColumnReportType">
            <mat-option *ngFor="let reporttype of FourColumnReportType" [value]="reporttype.id">
              {{reporttype.reportName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        }
        @if(routeParam=='ProductWiseMonthlyPurchase'||routeParam=='ProductMonthWisePurchaseLtrs'||routeParam=='BranchWiseMonthlySalesByLiters')
        {
        <mat-form-field class="col-3">
          <mat-label>{{ 'report.selectedGroupName' | translate }}</mat-label>
          <mat-select required formControlName="selectedGroupName">
            <mat-option *ngFor="let groupType of ReportPGList" [value]="groupType.groupName">
              {{groupType.groupName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!-- <mat-form-field>
         <mat-select placeholder="Group Type" formControlName="selectedGroupName">
           <mat-option *ngFor="let groupType of GroupName" [value]="groupType.id">
             {{groupType.parameter}}
           </mat-option>
         </mat-select>
       </mat-form-field> -->
        }
        @if(routeParam=='BranchWiseMonthlySalesByLiters') {
        <mat-form-field class="col-3">
          <mat-label>{{ 'report.selectedSupplierGroup' | translate }}</mat-label>
          <mat-select required formControlName="selectedSupplierGroup">
            <mat-option *ngFor="let suppliergroup of ReportSGList" [value]="suppliergroup.supplierGroupName">
              {{suppliergroup.supplierGroupName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        }
        @if(routeParam=='AccountLedger'||routeParam=='24HrsSaleValue'||routeParam=='24HrsSalesStock'||routeParam=='VehicalEnquiry'||routeParam=='IntimateSale'||routeParam=='StockVerification'||routeParam=='StockLedger'
        ||routeParam=='Salesanalysisbybranch'||routeParam=='ProductWiseMonthlyPurchase'||routeParam=='DailySales'||routeParam=='Shift'||routeParam=='ProductPriceList'
        ||routeParam=='ReceiptsAndPaymentsDetailed'||routeParam=='ReceiptsAndPaymentsSummary'||routeParam=='SMSSummary'||routeParam=='SalesGST'||routeParam=='24HrsSaleValue6AmTo6Am'
        ||routeParam=='TrialBalance'||routeParam=='24HrsMeterReading'||routeParam=='ClosingBalance'||routeParam=='BankReconciliation'||routeParam=='StockValuation'||routeParam=='FourColumnCashBook'||routeParam=='FourColumnCashBook'||routeParam=='ProductMonthWisePurchaseLtrs'
        ||routeParam=='BranchWiseMonthlySalesByLiters'||routeParam=='BranchWiseStockStatementLtrs'||routeParam=='BranchWiseStockStatementQty'||routeParam=='einvoice')
        {
        <div class="d-flex align-items-center">
          <button mat-raised-button class="button-color-bule text-white ml-2"
            (click)="GenerateReport()">Generate</button>
        </div>
        }
      </form>
    </div>

    <div class="m-2 table-boarder" *ngIf="headerData && headerData.length">
      <div class="row">

        @for(header of getHeaders | keyvalue: keepOrder; track header) {
        <div class="col-6">
          <span style="margin-right: 30px; margin-bottom: 5px;">
            <strong style="min-width: 150px; display: inline-block;">{{ getTranslationKey(header.key)
              | translate }}</strong>
            : {{ headerData[0][header.key] }}
          </span>
        </div>
        }

      </div>
    </div>

    <div class="m-2 table-boarder">
      <div class="d-flex align-items-center justify-content-between">
        <div>
          <button class="ml-2" mat-raised-button (click)="exportToExcel()">
            <mat-icon>file_copy</mat-icon> Excel
          </button>
          <button *ngIf="routeParam != 'einvoice'" class="ml-2" mat-raised-button (click)="exportToPdf()">
            <mat-icon>picture_as_pdf</mat-icon> Pdf
          </button>
        </div>
        <div class="w-25 row">
          <mat-form-field class="pl-2 col-12">
            <mat-label>FIlter</mat-label>
            <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder=" " />
          </mat-form-field>
        </div>
        <div id="dropdown-triggers-manual" *dropdownMenu class="dropdown-menu" role="menu"
          aria-labelledby="button-triggers-manual">
          <div class="dropdown--width d-flex">
            <mat-select class="p-2" [formControl]="tableMultiCtrl" placeholder="Search columns" [multiple]="true"
              #multiSelect>
              <ngx-mat-select-search (toggleAll)="toggleSelectAll($event)">
              </ngx-mat-select-search>
              <mat-option *ngFor="let bank of filteredTableMulti | async; let i = index" [value]="bank">
                <mat-checkbox [checked]="bank.hide" (change)="checkboxCheck(i)">
                  {{ bank.label }}
                </mat-checkbox>
              </mat-option>
            </mat-select>
            <div class="p-2 d-flex">
              <button mat-raised-button class="button-color-bule text-white ml-1" (click)="saveChanges();"> Save
              </button>
              <button mat-raised-button class="ml-1 button-color-red text-white"> Close </button>

            </div>
          </div>
        </div>
      </div>
      <div class="table">
        <table id="excelTable" #excelTable class="w-100" mat-table [dataSource]="dataSource" matSort #mytable>
          <ng-container *ngFor="let column of getDisplayedColumns()" [matColumnDef]="column">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <strong>{{ (routeParam + '.' + column) | translate }}</strong>
              <!-- <strong> {{ ( routeParam + '.' +  column) | translate }} </strong> -->
            </th>
            <td mat-cell *matCellDef="let element; let i = index">
              <u class="font-weight-bold" *ngIf="column == 'ShiftID'; else data"> {{ element[column] }} </u>
              <ng-template #data>
                <span> {{ element[column] }} </span>
              </ng-template>
              <!-- <input matInput [value]="element[column]" [(ngModel)]="element[column]" /> -->
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()"></tr>
          <tr mat-row *matRowDef="let row; columns: getDisplayedColumns(); let i = index"
            (click)="highlightRows(row, i)" (dblclick)="openDialog('Edit', row)" [style.background]="
            highlightedRows.indexOf(row) != -1 ? 'lightblue' : ''
          "></tr>
        </table>
      </div>
      <mat-paginator [pageSizeOptions]="[10, 15]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</mat-card>
<!-- ===== PRINTABLE TEMPLATE (Hidden until PDF export) ===== -->
<div id="printableReport" *ngIf="showPrintableReport">

  <div style="
      padding: 6px;
      font-family: Arial, sans-serif;
      background: #ffffff;
      color: #000;
      width: 100%;
    ">

    <!-- HEADER -->
    <div style="
        text-align: center;
        margin-bottom: 10px;
        padding-bottom: 6px;
        border-bottom: 1px solid #d9d9d9;
      ">

      <div style="
          font-size: 15px;
          font-weight: bold;
          margin-bottom: 3px;
        ">

        THE KRISHNA DISTRICT LORRY OWNERS MUTUALLY AIDED CO-OPERATIVE STORES LIMITED

      </div>

      <div style="
          font-size: 14px;
          font-weight: 600;
        ">

        {{ routeParam === 'Shift' || routeParam === 'Salesanalysisbybranch' ? getName : (routeParam + '.title') | translate : '' }} Report

      </div>

    </div>

    <!-- REPORT SUMMARY -->
    @if(headerData && headerData.length) {

    <div style="
        margin-bottom: 10px;
        font-size: 13px;
      ">


      <div style="margin-bottom: 2px; display: flex; flex-wrap: wrap;">

        @for (
        header of getHeaders | keyvalue: keepOrder;
        track header.key;
        let last = $last;
        let count = $count
        ) {

        <div [style.flex]="last && count % 2 !== 0 ? '0 0 100%' : '0 0 50%'">

          <span style="
          display: inline-block;
          margin-bottom: 2px;
        ">

            <strong style="
            min-width: 150px;
            display: inline-block;
          ">

              {{ getTranslationKey(header.key) | translate }}

            </strong>

            : {{ headerData[0][header.key] }}

          </span>

        </div>

        }

      </div>


    </div>

    }

    <!-- TABLE -->
    @if(dataSource?.data && dataSource.data.length) {

    <table style="
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;
        font-family: Arial, sans-serif;
        font-size: 12px;
      ">

      <!-- TABLE HEADER -->
      <thead style="display: table-header-group;">

        <tr style="background: #fafafa;">

          @for(body of getBody | keyvalue: keepOrder; track body) {

          @if(body.key != 'headers' && body.key != 'footer') {
          <th style="
                border: 0.4px solid #d9d9d9;
                padding: 3px 2px;
                text-align: center;
                font-weight: bold;
                color: #000;
                word-wrap: break-word;
              " [ngStyle]="getColumnStyle(body.key.toString())"
            [style.font-size.px]="(routeParam === '24HrsMeterReading' || routeParam === 'StockVerification' || routeParam === 'Salesanalysisbybranch' || routeParam === 'SMSSummary'  || routeParam === 'VehicalEnquiry' || routeParam === 'BranchWiseStockStatementLtrs' || routeParam === 'BranchWiseStockStatementQty') ? 10 : 12">

            {{ getTranslationKey(body.key) | translate }}

          </th>
          }

          }

        </tr>

      </thead>

      <!-- TABLE BODY -->
      <tbody>

        @for(row of dataSource.filteredData; track $index; let i = $index) {

        <tr>

          @for(column of getDisplayedColumns(); track column) {

          <td style="
              border: 0.4px solid #d9d9d9;
              padding: 3px 2px;
              color: #000;
            " [ngStyle]="getColumnStyle(column)" [style.textAlign]="getColumnAlignment(column)"
            [style.font-size.px]="(routeParam === '24HrsMeterReading' || routeParam === 'StockVerification' || routeParam === 'Salesanalysisbybranch' || routeParam === 'SMSSummary'  || routeParam === 'VehicalEnquiry' || routeParam === 'BranchWiseStockStatementLtrs' || routeParam === 'BranchWiseStockStatementQty') ? 10 : 12">

            {{ formatCellValue(row[column], column) }}

          </td>

          }

        </tr>

        }

        <!-- FOOTER -->
        @if(getFooter) {

        <tr>

          <td [attr.colspan]="getFooter.colspan" style="
              border: 0.4px solid #d9d9d9;
              padding: 3px 2px;
              font-size: 12px;
            ">
          </td>

          <td style="
              border: 0.4px solid #d9d9d9;
              padding: 3px 2px;
              font-size: 12px;
              font-weight: bold;
              text-align: center;
            ">

            Totals

          </td>

          @for(foot of getFooter | keyvalue: keepOrder; track foot) {

          @if (foot.key != 'colspan') {

          <td style="
              border: 0.4px solid #d9d9d9;
              padding: 3px 2px;
              font-size: 12px;
              font-weight: bold;
            " [style.textAlign]="getColumnAlignment(foot['key'].toString())">

            {{ footerData[0][foot['key']] || '' }}

          </td>

          }

          }

        </tr>

        }

        @if(routeParam == '24HrsSaleValue') {
        <tr>

          <td colspan="5" style="
              border: 0.4px solid #d9d9d9;
              padding: 3px 2px;
              font-size: 12px;
              font-weight: bold;
              text-align: end;
            ">

            Lubes Total:

          </td>

          <td style="
              border: 0.4px solid #d9d9d9;
              padding: 3px 2px;
              font-size: 12px;
              font-weight: bold;
            " [style.textAlign]="'right'">

            {{ footerData[0]['LubesTotal'] || '0.00' }}

          </td>


          <td style="
              border: 0.4px solid #d9d9d9;
              padding: 3px 2px;
              font-size: 12px;
              font-weight: bold;
            " [style.textAlign]="'right'">

            {{ footerData[0]['CreditAmountTotal'] || '0.00' }}

          </td>


          <td style="
              border: 0.4px solid #d9d9d9;
              padding: 3px 2px;
              font-size: 12px;
              font-weight: bold;
            " [style.textAlign]="'right'">

            {{ footerData[0]['LubesTotal2'] || '0.00' }}

          </td>

        </tr>

        <tr>

          <td colspan="5" style="
              border: 0.4px solid #d9d9d9;
              padding: 3px 2px;
              font-size: 12px;
              font-weight: bold;
              text-align: end;
            ">

            Cash Rec:

          </td>

          <td style="
              border: 0.4px solid #d9d9d9;
              padding: 3px 2px;
              font-size: 12px;
              font-weight: bold;
            " [style.textAlign]="'right'">

            {{ footerData[0]['CashReceipt'] || '0.00' }}

          </td>


          <td style="
              border: 0.4px solid #d9d9d9;
              padding: 3px 2px;
              font-size: 12px;
              font-weight: bold;
            " [style.textAlign]="'right'">

            {{ footerData[0]['CashReceipt1'] || '0.00' }}

          </td>


          <td style="
              border: 0.4px solid #d9d9d9;
              padding: 3px 2px;
              font-size: 12px;
              font-weight: bold;
            " [style.textAlign]="'right'">

            {{ footerData[0]['CashReceipt2'] || '0.00' }}

          </td>

        </tr>

        <tr>

          <td colspan="5" style="
              border: 0.4px solid #d9d9d9;
              padding: 3px 2px;
              font-size: 12px;
              font-weight: bold;
              text-align: end;
            ">

            CNG:

          </td>

          <td style="
              border: 0.4px solid #d9d9d9;
              padding: 3px 2px;
              font-size: 12px;
              font-weight: bold;
            " [style.textAlign]="'right'">

            {{ footerData[0]['CNG'] || '0.00' }}

          </td>


          <td style="
              border: 0.4px solid #d9d9d9;
              padding: 3px 2px;
              font-size: 12px;
              font-weight: bold;
            " [style.textAlign]="'right'">

            {{ footerData[0]['CNG1'] || '0.00' }}

          </td>


          <td style="
              border: 0.4px solid #d9d9d9;
              padding: 3px 2px;
              font-size: 12px;
              font-weight: bold;
            " [style.textAlign]="'right'">

            {{ footerData[0]['CNG2'] || '0.00' }}

          </td>

        </tr>

        <tr>

          <td colspan="5" style="
              border: 0.4px solid #d9d9d9;
              padding: 3px 2px;
              font-size: 12px;
              font-weight: bold;
              text-align: end;
            ">

            Grand Total:

          </td>

          <td style="
              border: 0.4px solid #d9d9d9;
              padding: 3px 2px;
              font-size: 12px;
              font-weight: bold;
            " [style.textAlign]="'right'">

            {{ footerData[0]['GrandCashAmount'] || '0.00' }}

          </td>


          <td style="
              border: 0.4px solid #d9d9d9;
              padding: 3px 2px;
              font-size: 12px;
              font-weight: bold;
            " [style.textAlign]="'right'">

            {{ footerData[0]['GrandCreditAmount'] || '0.00' }}

          </td>


          <td style="
              border: 0.4px solid #d9d9d9;
              padding: 3px 2px;
              font-size: 12px;
              font-weight: bold;
            " [style.textAlign]="'right'">

            {{ footerData[0]['GrandTotalAmount'] || '0.00' }}

          </td>

        </tr>
        }


        @if(routeParam == 'IntimateSale') {
        <tr>

          <td colspan="7" style="
              border: 0.4px solid #d9d9d9;
              padding: 3px 2px;
              font-size: 12px;
              font-weight: bold;
              text-align: end;
            ">

            Total :

          </td>

          <td style="
              border: 0.4px solid #d9d9d9;
              padding: 3px 2px;
              font-size: 12px;
              font-weight: bold;
            " [style.textAlign]="'right'">

            {{ footerData[0]['TotalQty'] || '0.00' }}

          </td>


          <td style="
              border: 0.4px solid #d9d9d9;
              padding: 3px 2px;
              font-size: 12px;
              font-weight: bold;
            " [style.textAlign]="'right'">

            {{ footerData[0]['NPTotalQty'] || '0.00' }}

          </td>

        </tr>

        <tr>

          <td colspan="7" style="
              border: 0.4px solid #d9d9d9;
              padding: 3px 2px;
              font-size: 12px;
              font-weight: bold;
              text-align: end;
            ">

            Total Purchases :

          </td>

          <td style="
              border: 0.4px solid #d9d9d9;
              padding: 3px 2px;
              font-size: 12px;
              font-weight: bold;
            " [style.textAlign]="'right'">

            {{ footerData[0]['TotalPurchase1'] || '0.00' }}

          </td>


          <td style="
              border: 0.4px solid #d9d9d9;
              padding: 3px 2px;
              font-size: 12px;
              font-weight: bold;
            " [style.textAlign]="'right'">

            {{ footerData[0]['TotalPurchase'] || '0.00' }}

          </td>

        </tr>

        <tr>

          <td colspan="7" style="
              border: 0.4px solid #d9d9d9;
              padding: 3px 2px;
              font-size: 12px;
              font-weight: bold;
              text-align: end;
            ">

            Credit:

          </td>

          <td style="
              border: 0.4px solid #d9d9d9;
              padding: 3px 2px;
              font-size: 12px;
              font-weight: bold;
            " [style.textAlign]="'right'">

            {{ footerData[0]['Credit1'] || '0.00' }}

          </td>


          <td style="
              border: 0.4px solid #d9d9d9;
              padding: 3px 2px;
              font-size: 12px;
              font-weight: bold;
            " [style.textAlign]="'right'">

            {{ footerData[0]['Credit'] || '0.00' }}

          </td>


        </tr>

        <tr>

          <td colspan="7" style="
              border: 0.4px solid #d9d9d9;
              padding: 3px 2px;
              font-size: 12px;
              font-weight: bold;
              text-align: end;
            ">

            Balance/Due :

          </td>

          <td style="
              border: 0.4px solid #d9d9d9;
              padding: 3px 2px;
              font-size: 12px;
              font-weight: bold;
            " [style.textAlign]="'right'">

            {{ footerData[0]['BalanceDue1'] || '0.00' }}

          </td>


          <td style="
              border: 0.4px solid #d9d9d9;
              padding: 3px 2px;
              font-size: 12px;
              font-weight: bold;
            " [style.textAlign]="'right'">

            {{ footerData[0]['BalanceDue'] || '0.00' }}

          </td>


        </tr>
        }


      </tbody>

    </table>

    }


    @if(routeParam == 'DailySales') {

    <div style="
        margin-bottom: 10px;
        font-size: 13px;
      ">


      <div style="margin-bottom: 2px;display: flex;">


        <div style="flex: 0 0 50%;">

          <span style="
              display: inline-block;
              margin-bottom: 2px;
            ">

            <strong style="
                min-width: 95px;
                display: inline-block;
              ">

              Cash Amount:

            </strong>

            <span style="padding-left: 10px;"> {{ footerData[0]['CashAmount'] }}</span>

          </span>

        </div>


        <div style="flex: 0 0 50%;">

          <span style="
              display: inline-block;
              margin-bottom: 2px;
            ">

            <strong style="
                min-width: 95px;
                display: inline-block;
              ">

              Lubes-Cash:

            </strong>

            <span style="padding-left: 10px;"> {{ footerData[0]['Lubes-Cash'] }}</span>

          </span>

        </div>



        <div style="flex: 0 0 25%;">

          <span style="
              display: inline-block;
              margin-bottom: 2px;
            ">

            <strong style="
                min-width: 95px;
                display: inline-block;
              ">

              Credit:

            </strong>

            <span style="padding-left: 10px;"> {{ footerData[0]['Lubes-Credit'] }}</span>

          </span>

        </div>

      </div>


    </div>

    <div style="
        margin-bottom: 10px;
        font-size: 13px;
      ">


      <div style="margin-bottom: 2px;display: flex;">


        <div style="flex: 0 0 50%;">

          <span style="
              display: inline-block;
              margin-bottom: 2px;
            ">

            <strong style="
                min-width: 95px;
                display: inline-block;
              ">

              Credit Amount:

            </strong>

            <span style="padding-left: 10px;"> {{ footerData[0]['Credit Amount'] }}</span>

          </span>

        </div>


        <div style="flex: 0 0 25%;">

          <span style="
              display: inline-block;
              margin-bottom: 2px;
            ">

            <strong style="
                min-width: 95px;
                display: inline-block;
              ">

              Spares-Cash:

            </strong>

            <span style="padding-left: 10px;"> {{ footerData[0]['Spares-Cash'] }}</span>

          </span>

        </div>



        <div style="flex: 0 0 25%;">

          <span style="
              display: inline-block;
              margin-bottom: 2px;
            ">

            <strong style="
                min-width: 95px;
                display: inline-block;
              ">

              Credit:

            </strong>

            <span style="padding-left: 10px;"> {{ footerData[0]['Spares-Credit'] }}</span>

          </span>

        </div>

      </div>


    </div>

    }



    @if(routeParam == 'Shift' && dateForm.get('selectedReport')?.value == '6') {

    <div style="
        margin-bottom: 10px;
        font-size: 13px;
        margin-top: 20px;
      ">


      <div style="margin-bottom: 2px;display: flex;">


        <div style="flex: 0 0 20%;">

          <span style="
              display: inline-block;
              margin-bottom: 2px;
            ">

            <strong style="
                min-width: 95px;
                display: inline-block;
              ">

              Total:

            </strong>

            <span style="padding-left: 10px;"> {{ footerData[0]['TotalQty'] }}</span>

          </span>

        </div>


        <div style="flex: 0 0 50%;">

          <span style="
              display: inline-block;
              margin-bottom: 2px;
            ">
            <!-- 
            <strong style="
                min-width: 95px;
                display: inline-block;
              ">

              Lubes-Cash:

            </strong> -->

            <span style="padding-left: 10px;"> {{ footerData[0]['TotalAmount'] }}</span>

          </span>

        </div>

      </div>


    </div>

    <div style="
        margin-bottom: 10px;
        font-size: 13px;
      ">


      <div style="margin-bottom: 2px;display: flex;">


        <div style="flex: 0 0 50%;">

          <span style="
              display: inline-block;
              margin-bottom: 2px;
            ">

            <strong style="
                min-width: 95px;
                display: inline-block;
              ">

              Cash Amount:

            </strong>

            <span style="padding-left: 10px;"> {{ footerData[0]['CashAmount'] }}</span>

          </span>

        </div>


      </div>


    </div>


    <div style="
        margin-bottom: 10px;
        font-size: 13px;
      ">


      <div style="margin-bottom: 2px;display: flex;">


        <div style="flex: 0 0 50%;">

          <span style="
              display: inline-block;
              margin-bottom: 2px;
            ">

            <strong style="
                min-width: 95px;
                display: inline-block;
              ">

              Credit Amount:

            </strong>

            <span style="padding-left: 10px;"> {{ footerData[0]['CreditAmount'] }}</span>

          </span>

        </div>


      </div>


    </div>

    }



    @if(routeParam == 'Shift' && dateForm.get('selectedReport')?.value == '7') {

    <div style="
        margin-bottom: 10px;
        font-size: 13px;
        margin-top: 20px;
      ">


      <div style="margin-bottom: 2px;display: flex;">


        <div style="flex: 0 0 20%;">

          <span style="
              display: inline-block;
              margin-bottom: 2px;
            ">

            <strong style="
                min-width: 95px;
                display: inline-block;
              ">

              Lubes Totals:

            </strong>

            <span style="padding-left: 10px;"> {{ footerData[0]['LubesCashAmt'] }}</span>

          </span>

        </div>


        <div style="flex: 0 0 20%;">

          <span style="
              display: inline-block;
              margin-bottom: 2px;
            ">

            <span style="padding-left: 10px;"> {{ footerData[0]['LubesCreditAmt'] }}</span>

          </span>

        </div>

        <div style="flex: 0 0 20%;">

          <span style="
              display: inline-block;
              margin-bottom: 2px;
            ">

            <span style="padding-left: 10px;"> {{ footerData[0]['LubesTotal'] }}</span>

          </span>

        </div>

      </div>


    </div>


    <div style="
        margin-bottom: 10px;
        font-size: 13px;
        margin-top: 20px;
      ">


      <div style="margin-bottom: 2px;display: flex;">


        <div style="flex: 0 0 20%;">

          <span style="
              display: inline-block;
              margin-bottom: 2px;
            ">

            <strong style="
                min-width: 95px;
                display: inline-block;
              ">

              Cash Receipt:

            </strong>

            <span style="padding-left: 10px;"> {{ footerData[0]['CashReceipt'] }}</span>

          </span>

        </div>


      </div>


    </div>



    <div style="
        margin-bottom: 10px;
        font-size: 13px;
        margin-top: 20px;
      ">


      <div style="margin-bottom: 2px;display: flex;">


        <div style="flex: 0 0 20%;">

          <span style="
              display: inline-block;
              margin-bottom: 2px;
            ">

            <strong style="
                min-width: 95px;
                display: inline-block;
              ">

              Grand Totals:

            </strong>

            <span style="padding-left: 10px;"> {{ footerData[0]['GrandCashAmt'] }}</span>

          </span>

        </div>


        <div style="flex: 0 0 20%;">

          <span style="
              display: inline-block;
              margin-bottom: 2px;
            ">

            <span style="padding-left: 10px;"> {{ footerData[0]['GrandCreditAmt'] }}</span>

          </span>

        </div>

        <div style="flex: 0 0 20%;">

          <span style="
              display: inline-block;
              margin-bottom: 2px;
            ">

            <span style="padding-left: 10px;"> {{ footerData[0]['GrandTotalAmt'] }}</span>

          </span>

        </div>

      </div>


    </div>


    }


    @if(routeParam == 'Salesanalysisbybranch' && dateForm.get('ReportName')?.value == 'Sales Analysis Sub Category Branch Wise Report') {

    <div style="
        margin-bottom: 10px;
        font-size: 13px;
        margin-top: 20px;
      ">


      <div style="margin-bottom: 2px;display: flex;">


        <div style="flex: 0 0 20%;">

          <span style="
              display: inline-block;
              margin-bottom: 2px;
            ">

            <strong style="
                min-width: 95px;
                display: inline-block;
              ">

              Grand Total:

            </strong>

            <span style="padding-left: 10px;"> {{ footerData[0]['GrandTotalQty'] }}</span>

          </span>

        </div>


        <div style="flex: 0 0 20%;">

          <span style="
              display: inline-block;
              margin-bottom: 2px;
            ">

            <span style="padding-left: 10px;"> {{ footerData[0]['GrandTotalLiters'] }}</span>

          </span>

        </div>

        <div style="flex: 0 0 20%;">

          <span style="
              display: inline-block;
              margin-bottom: 2px;
            ">

            <span style="padding-left: 10px;"> {{ footerData[0]['GrandGrossAmount'] }}</span>

          </span>

        </div>

      </div>


    </div>


    <div style="
        margin-bottom: 10px;
        font-size: 13px;
        margin-top: 20px;
      ">


      <div style="margin-bottom: 2px;display: flex;">


        <div style="flex: 0 0 20%;">

          <span style="
              display: inline-block;
              margin-bottom: 2px;
            ">

            <strong style="
                min-width: 95px;
                display: inline-block;
              ">

              Cash:

            </strong>

            <span style="padding-left: 10px;"> {{ footerData[0]['CashSales'] }}</span>

          </span>

        </div>


      </div>


    </div>



    <div style="
        margin-bottom: 10px;
        font-size: 13px;
        margin-top: 20px;
      ">


      <div style="margin-bottom: 2px;display: flex;">


        <div style="flex: 0 0 20%;">

          <span style="
              display: inline-block;
              margin-bottom: 2px;
            ">

            <strong style="
                min-width: 95px;
                display: inline-block;
              ">

              Credit:

            </strong>

            <span style="padding-left: 10px;"> {{ footerData[0]['CreditSales'] }}</span>

          </span>

        </div>


      </div>


    </div>


    }


  </div>

</div>